python-multipart
python-jose[cryptography]
fastapi
jinja2 # Used to generate RSS feeds
pydantic
uvicorn[standard]
gunicorn  # Used as process manager for uvicorn processes

elasticsearch==8.*
argon2-cffi
requests

python-dotenv
CouchDB
pathvalidate
openai
stripe
transformers

# For converting to pdf
PyMuPDF
markdown-it-py
#
# Used for connectors
discord
slack_sdk
aiohttp
