python-multipart
python-jose[cryptography]
fastapi
jinja2 # Used to generate RSS feeds
pydantic
uvicorn[standard]
gunicorn  # Used as process manager for uvicorn processes

elasticsearch
argon2-cffi
requests

python-dotenv
CouchDB
pathvalidate
